# M04 practice problems Ch. 11 #1-2 & Ch. 16 #8

### 11.1

In [2]:
import zoo
zoo.hours()

Open 9-5 daily

### 11.2

In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

### 16.8

In [28]:
import sqlite3, csv

# make a new sqlite3 database
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books (
id INTEGER PRIMARY KEY, 
title TEXT,
author TEXT,
year INTEGER
);''')

# add the contents of the csv file to the database
with open('books2.csv', 'rt') as file_reader:
    csv_reader = csv.reader(file_reader)
    id = 0
    ins = 'INSERT INTO books (id, title, author, year) VALUES(?, ?, ?, ?)'
    for row in csv_reader:
        curs.execute(ins, (id, *row))
        id += 1
curs.execute('COMMIT')

# check that it worked
curs.execute('SELECT * FROM books')
print(curs.fetchall())

# wrap up
curs.close()
conn.close()

[(0, 'title', 'author', 'year'), (1, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960), (2, 'Perdido Street Station', 'China MiÃ©ville', 2000), (3, 'Thud!', 'Terry Pratchett', 2005), (4, 'The Spellman Files', 'Lisa Lutz', 2007), (5, 'Small Gods', 'Terry Pratchett', 1992)]

In [29]:
import sqlalchemy as sa

# retrieve the titles from the books db in alphabetical order
engine = sa.create_engine('sqlite:///books.db', echo=True)
result = engine.execute('SELECT * FROM books')
# SELECT title FROM books ORDER BY title
for row in result:
    print(row)

2022-06-28 05:10:05,446 INFO sqlalchemy.engine.Engine SELECT * FROM books
2022-06-28 05:10:05,447 INFO sqlalchemy.engine.Engine [raw sql] ()
(0, 'title', 'author', 'year')
(1, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(2, 'Perdido Street Station', 'China MiÃ©ville', 2000)
(3, 'Thud!', 'Terry Pratchett', 2005)
(4, 'The Spellman Files', 'Lisa Lutz', 2007)
(5, 'Small Gods', 'Terry Pratchett', 1992)